<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zuxiao2.zuxiao2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.guide.GuideActivity"
            android:launchMode="singleInstance">

        </activity>

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.PassWordLoginActivity" />
        <activity android:name=".login.WangJiPwdActivity" />
        <activity android:name=".ui.hometabftagment.classbase.CommodityActiivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".ui.activity.Activity_AddDZ" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.guide.SplashActivity" />
        <activity android:name=".ui.guide.HandlerActivity" />
        <activity android:name=".ui.fragment.fication.activity.FincActivity" />
        <activity android:name=".ui.fragment.fication.activity.Merchantentry" />
        <activity android:name=".ui.fragment.fication.activity.SettingActivity" />
        <activity android:name=".ui.fragment.mine.activity.MyorderActivity" />
        <activity android:name=".ui.fragment.mine.activity.ProvinceActivity" />
        <activity
            android:name=".ui.fragment.mine.activity.SengfenActivity"
            android:label="@string/title_activity_sengfen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.fragment.mine.activity.StudentActivity"
            android:label="@string/title_activity_student"
            android:theme="@style/AppTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zuxiao2.zuxiao2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_path" />
        </provider>

        <activity android:name=".ui.fragment.mine.activity.OperateActivity" />
        <activity android:name=".ui.fragment.mine.activity.SBKActivity" />
        <activity
            android:name=".ui.activity.Activity_AddDZ"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".ui.activity.Activity_Add_DZ" />
        <activity android:name=".ui.fragment.mine.activity.ZhiCanActivity" />
        <activity android:name=".ui.fragment.mine.activity.EducationActivity" />
        <activity android:name=".ui.fragment.mine.activity.CompanyActivity" />
        <activity android:name=".ui.fragment.mine.activity.LicenseActivity" />
        <activity android:name=".ui.fragment.mine.activity.EnterpriseActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx4c9a02ded1109d75" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.fragment.mine.activity.EnterpriseActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".ui.fragment.mine.activity.EquipmentActivity" />
        <activity android:name=".ui.myorder.LianXiKeFuActivity" />
        <activity android:name=".ui.myorder.ChaKanWuliuActivity">

        </activity>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="194539b0211ea7e5c0a7312fea713667">
        </meta-data>
        <activity android:name=".ui.fragment.home.HomeAddAddressActivity"></activity>

        <activity android:name=".ui.activity.Activity_SH_Dz">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>